@font-face {
  font-family: "regular";
  src: url('../fonts/Inter-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: "semi-bold";
  src: url('../fonts/Inter-SemiBold.ttf');
  font-display: swap;
}

