@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.woff?ppypze') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  background-color: transparent;
  font-family: 'icomoon', sans-serif !important;
  speak: none;
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  //font-size: 30px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-back:before {
  content: "\e900";
  color: #fff;
}
.icon-load:before {
  content: "\e901";
  //color: #fff;
}
.icon-sort:before {
  content: "\e902";
  color: #fff;
}
.icon-viewed:before {
  content: "\e903";
  color: #fff;
}
.icon-not-view:before {
  content: "\e904";
  color: #fff;
}
.icon-down:before {
  content: "\e905";
  color: #fff;
}
.icon-up:before {
  content: "\e906";
  color: #fff;
}
